body {
  font-family: arial;
  margin: 0px;
}

.dashboard {
  justify-content: center;
  margin: 40px;
}

.expense-list {
  width: 400px;
}

.expense-headers {
  text-align: left;
}

.section-title {
  text-align: center
}

.chart-wrapper {
  width: 600px;
  /* display: flex;
  flex-direction: column; */
  text-align: center;
}

.submit-button {
  display: flex;
  justify-content: center;
}

.logo {
  width: 80px;
  height: auto;
  margin-right: 15px;
}

table {
  text-align: left;
  font-size: 14px;
}

td {
  padding: 10px;
}

th {
  padding: 10px;
}

canvas{
  margin: 0 auto;
  height: 600px;
  width: 600px;
}